<header>

  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
        <strong>BUREAU</strong>
      </a>
      <!--
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
      -->
    </div>
  </div>
  <!--
  <div class="collapse bg-dark" id="navbarHeader" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

  </div>
  -->
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Projeto Bureau</h1>
      <p class="lead text-muted">Projeto desenvolvido para população da base de dados do projeto bureau</p>
      <h4 class="card-text">Nível: {{nivel}}</h4>

      <!--
      <h4 class="card-text">{{breadcrumbVisible}}</h4>
      -->

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" *ngFor="let item of breadcrumbVisible">
            <a href="#" (click)="abrir(item)">{{item.nome}}</a>
          </li>
        </ol>
      </nav>

      <!-- <ul>
        <li *ngFor="let todo of (items | async)" [class.done]="todo.done">
         {{ todo | json }}
          {{todo.payload.node_.children_.root_.key}}
          {{todo.id}}
        </li>
      </ul>-->

      <!-- 
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
      -->
    </div>
    <p></p>


  </section>





  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4" *ngFor="let item of (items | async)" (click)="afundar(item)" >
          <div class="card mb-4 box-shadow" *ngIf="item.dado" style="cursor:pointer;">
            <!--<img class="card-img-top" src="{{result.sprites.front_default}}" alt="Card image cap">-->
            <div class="card-body">
              <h4 class="card-text">{{item.dado}}</h4>
            </div>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-md-4" *ngFor="let item of (items | async)" >
          <div class="card mb-4 box-shadow" *ngIf="item.tipo">
            <!--<img class="card-img-top" src="{{result.sprites.front_default}}" alt="Card image cap">-->
            <div class="card-body" *ngIf="item.tipo == 'Texto'">
              <textarea class="form-control" disabled rows="3" >{{item.valor}}</textarea>
            </div>
          </div>
        </div>

      </div>


      <div class="accordion" id="accordion" style="padding-top:150px">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Inserir novo item
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="form-group form-check col-sm-12">
                <input type="checkbox" class="form-check-input" [(ngModel)]="chcFinal">
                <label class="form-check-label" for="exampleCheck1">Final</label>
              </div>
              <div class="col-sm-12" style="padding-top: 20px">
                <input type="text" class="form-control col-sm-12" [(ngModel)]="txtDado" placeholder="Nome" aria-label="Pokemon">
              </div>

              <div class="col-sm-12" style="padding-top: 20px">
                <button type="button" class="btn btn-primary col-sm-12" (click)="addCourse()">
                  Adicionar
                </button>
              </div>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Inserir Informações
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

              <div class="form-group col-sm-12">
                <label for="exampleFormControlTextarea1">Informação</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="txtInfo"></textarea>
              </div>


              <div class="col-sm-12" style="padding-top: 20px">
                <button type="button" class="btn btn-primary col-sm-12" (click)="addInfoText()">
                  Adicionar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">
                Inserir Imagem (AINDA NAO FUNCIONA)
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <div class="col-sm-12" style="padding-top: 20px">
                <input type="text" class="form-control col-sm-12" [(ngModel)]="txtTitulo" placeholder="Titulo">
              </div>
              <div class="col-sm-12" style="padding-top: 20px">
                <input type="text" class="form-control col-sm-12" [(ngModel)]="txtLink" placeholder="Link">
              </div>

              <div class="col-sm-12" style="padding-top: 20px">
                <button type="button" class="btn btn-primary col-sm-12">
                  Adicionar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Inserir Video (AINDA NAO FUNCIONA)
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="col-sm-12" style="padding-top: 20px">
                <input type="text" class="form-control col-sm-12" [(ngModel)]="txtTitulo" placeholder="Titulo">
              </div>
              <div class="col-sm-12" style="padding-top: 20px">
                <input type="text" class="form-control col-sm-12" [(ngModel)]="txtLink" placeholder="Link">
              </div>

              <div class="col-sm-12" style="padding-top: 20px">
                <button type="button" class="btn btn-primary col-sm-12">
                  Adicionar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>











  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Voltar ao topo</a>
    </p>

  </div>
</footer>